
@{
    ViewData["Title"] = "Index";
}
@model UserViewModel

<div class="row">

    <div class="col-md-4 offset-md-4" >
        @if (String.IsNullOrEmpty(Model.PictureUrl))
        {
            <img class="rounded mx-auto d-block" src="/UserPicture/DefaultUser.jpg" width="200" height="250" />
        }
        else
        {
            <img class="rounded mx-auto d-block " src="/UserPicture/@(Model.PictureUrl)" width="200" height="250" />
        }
    </div>

</div>


<div class="alert-primary"> Kullanıcı Bilgileri</div>
<table class="table">
    <thead>
        <tr>
         
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">Email</th>
            <th scope="col">Telefon Numarası</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.UserName</td>
            <td>@Model.Email</td>
            <td>@Model.PhoneNumber</td>
        </tr>
   
    </tbody>
</table>
